@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Indie+Flower&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-image: url('assets/background.jpg');
        background-size: cover;
    }
}

@font-face {
    font-family: "Baby Doll";
    src: url("assets/fonts/Baby Doll.otf") format("truetype");
}

body {
    font-family: "ELEGANT TYPEWRITER Regular", monospace;
}

#loadingSpinner {
    opacity:1;
}

#container1 {
    opacity: 0.95;
    flex-direction: column;
    max-height: 70vh;
    max-width: 55vw;
    margin-top:10vh;
}

.chatContainer {
   max-width: 30vw;
}

#container2 {
    opacity: 0.95;
    flex-direction: column;
    max-height: 70vh;
    max-width: 30vw;
    margin-top:10vh;
    border-radius: 10px;
}

#container3 {
    border-radius: 10px;
}

.response-grid {
    display: grid;
    grid-template-columns: auto 1fr; /* Auto for loading spinner, 1fr for response text */
    align-items: center;
}

#loadingSpinner {
    margin-right: 10px; /* Adjust margin as needed */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#cat-logo-left:hover {
    offset-anchor: center;
    animation: spin 1s linear infinite; /* Adjust the duration and timing function as needed */
}

#catfit-h1 {
    text-underline-offset: 6px;
    font-family: "Kode Mono", sans serif;

}
.info-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
}
footer {
    z-index: 98;
}
.popup {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 99;
    bottom: 100%; /* Position the popup above the info icon */
    right: 0;
    margin-right: 50%; /* Adjust the margin to center the popup */
    transform: translateX(50%); /* Center the popup horizontally */
}

.info-container:hover .popup {
    display: block;
}
.user-message {
    justify-self: flex-end;
    text-align: right;
}

.user-message i {
    margin-left: 10px; /* Adjust margin as needed */
}
